html,
body {
	font-family: "Segoe UI";
	margin: 0;
	padding: 0;
}

body {
	background-image: url(img/3.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: auto;
	height: 100%;
	color: #398ce4;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(42, 42, 42);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgb(42, 42, 42);
}

.container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#title {
	font-weight: 800;
	text-shadow: 6px 12px 5px black;
	text-align: center;
	font-size: 4rem;
	margin-top: auto;
	text-transform: uppercase;
	margin-bottom: -3rem;
}

.peepoThink {
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	filter: drop-shadow(6px 6px 5px black);
}

#subtitle {
	font-weight: 600;
	font-style: italic;
	text-shadow: 6px 6px 5px black;
	font-size: 1rem;
	margin-top: auto;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

#channelInput {
	font-weight: 700;
	box-shadow: 6px 6px 5px black;
	width: 100%;
	border: 0;
	background-color: #398ce4;
	border-radius: 2px;
	padding: 0.5rem;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	outline: none;
	cursor: auto;
}

#channelInput:focus {
	box-shadow: 0 0 0 1px #fff;
}

#invalidChannel {
	font-weight: 600;
	color: #ff0000;
}

#loading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#loadingText{
	font-weight: 600;
}

#app {
	margin-top: 3rem;
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	grid-gap: 1.5rem;
	justify-content: center;
	align-items: center;
}

#emoteTry {
	box-shadow: 6px 6px 5px black;
	width: auto;
	border: 0;
	background-color: #398ce4;
	border-radius: 2px;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	outline: none;
	display: none;
}

#emoteTry:focus {
	box-shadow: 0 0 0 1px #fff;
}

#blur {
	font-size: 40px;
	color: transparent;
	text-shadow: 0 0 8px #000;
}

.card {
	margin-top: -2rem;
	width: 12rem auto;
	background: rgb(29, 29, 29);
	color: #398ce4;
	padding: 1rem;
	border-radius: 10px;
	border-top: 1px solid #398ce4;
	border-bottom: 1px solid #398ce4;
	border-left: 1px solid #398ce4;
	border-right: 1px solid #398ce4;
	text-align: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	position: relative;
	cursor: unset;
}

.card--name {
	text-transform: capitalize;
	color: #fff;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
}

.card--image {
	width: auto;
	display: block;
	margin: auto;
	filter: blur(15px);
	-webkit-filter: blur(15px);
}

.card--image2 {
	width: auto;
	display: block;
	margin: auto;
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

.card--image3 {
	width: auto;
	display: block;
	margin: auto;
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

.card--image4 {
	width: auto;
	display: block;
	margin: auto;
}

input[type="text"] {
	background-color: #f1f1f1;
}
input[type="submit"] {
	background-color: DodgerBlue;
	color: #fff;
}

#score {
	margin-top: -1rem;
	align-items: center;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}
#tentativas {
	color: rgb(191, 2, 2);
	text-shadow: 6px 6px 5px black;
}
#acertos {
	margin-top: -1rem;
	color: rgb(0, 128, 0);
	text-shadow: 6px 6px 5px black;
}
