@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

html,
body {
	font-family: "Segoe UI";
	margin: 0;
	padding: 0;
}

body {
	background-image: url(img/3.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: auto;
	height: 100%;
	color: #398ce4;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(42, 42, 42);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgb(42, 42, 42);
}

.container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#title {
	font-weight: 800;
	text-shadow: 6px 12px 5px black;
	text-align: center;
	font-size: 4rem;
	margin-top: auto;
	text-transform: uppercase;
	margin-bottom: -0.5rem;
}

.peepoThink {
	display: block;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	filter: drop-shadow(6px 6px 5px black);
}

#subtitle {
	font-weight: 600;
	text-shadow: 6px 6px 5px black;
	font-size: 0.8rem;
	margin-top: auto;
	margin-bottom: 1rem;
	text-transform: lowercase;
}
#subtitle2 {
	font-weight: 600;
	text-shadow: 6px 6px 5px black;
	font-size: 1rem;
	text-transform: lowercase;
	color: rgb(158, 35, 162);
}

#channelInput {
	font-weight: 700;
	box-shadow: 6px 6px 5px black;
	width: 110%;
	border: 0;
	background-color: #398ce4;
	border-radius: 2px;
	padding: 0.5rem;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	outline: none;
	cursor: auto;
	text-align: center;
	max-width: 300px;
}

#channelInput:focus {
	box-shadow: 0 0 0 1px #fff;
}

#invalidChannel {
	font-weight: 600;
	color: #ff0000;
}

#loading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#loadingText {
	font-weight: 600;
}

#app {
	display: grid;
	margin-top: 3rem;
	margin-bottom: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	grid-gap: 1.5rem;
	justify-content: center;
	align-items: center;
}

#emoteTryContainer {
	position: relative;
	display: none;
	padding-top: -0.5rem;
	padding-bottom: 0.5rem;
}

#emoteTry {
	box-shadow: 6px 6px 5px black;
	width: auto;
	border: 0;
	background-color: #398ce4;
	border-radius: 2px;
	padding: 0.5rem;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	outline: none;
	text-align: center;
}

.autocomplete-emotes {
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
	left: 0;
	width: 100%;
	color: #fff;
	background-color: rgb(32, 42, 49);
	font-size: 1rem;
	max-height: 100px;
	max-width: 100%;
	overflow-y: auto;
}

.autocomplete-emotes li {
	padding: 8px;
	font-weight: 600;
}
.autocomplete-emotes li:hover {
	cursor: pointer;
	background-color: #245992;
}

#emoteTry:focus {
	box-shadow: 0 0 0 1px #fff;
}

#blur {
	font-size: 40px;
	color: transparent;
	text-shadow: 0 0 8px #000;
}

.card {
	margin-top: -2rem;
	width: 12rem auto;
	background: rgb(29, 29, 29);
	color: #398ce4;
	padding: 1rem;
	border-radius: 10px;
	border-top: 1px solid #398ce4;
	border-bottom: 1px solid #398ce4;
	border-left: 1px solid #398ce4;
	border-right: 1px solid #398ce4;
	text-align: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	position: relative;
	cursor: unset;
}

.card--name {
	text-transform: capitalize;
	color: #fff;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
}

.card--image {
	width: auto;
	display: block;
	margin: auto;
	filter: blur(15px);
	-webkit-filter: blur(15px);
}

.card--image2 {
	width: auto;
	display: block;
	margin: auto;
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

.card--image3 {
	width: auto;
	display: block;
	margin: auto;
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

.card--image4 {
	width: auto;
	display: block;
	margin: auto;
}

input[type="text"] {
	background-color: #f1f1f1;
}
input[type="submit"] {
	background-color: DodgerBlue;
	color: #fff;
}

#score {
	margin-top: 1rem;
	align-items: center;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}

#tentativas {
	color: rgb(191, 2, 2);
	text-shadow: 6px 6px 5px black;
}

#vidas {
	display: none;
	align-items: center;
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

#vida1 {
	color: red;
}
#vida2 {
	color: red;
}
#vida3 {
	color: red;
}
#vida4 {
	color: red;
}

#acertos {
	margin-top: -1rem;
	color: rgb(0, 128, 0);
	text-shadow: 6px 6px 5px black;
}


footer{
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 1rem;
	text-align: center;
	font-size: 0.8rem;
	font-weight: 600;
}

#twitch {
	color: #fff;
	text-decoration: none;
}

#twitch:hover {
	color: #398ce4;
}