@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

@font-face {
	font-family: "Intro Rust";
	src: url("../../fonts/IntroRust-Base.otf") format("opentype");
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

html,
body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body {
	width: auto;
	height: auto;
	color-scheme: light dark;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: auto;
}

#background-img {
	background-image: url(../../img/Emoto-Background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	-webkit-filter: opacity(0.5);
	filter: opacity(0.5);
}

#help {
	display: block;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	-webkit-filter: drop-shadow(6px 6px 5px black);
	filter: drop-shadow(6px 6px 5px black);
}

#help:hover {
	cursor: pointer;
	color: gray;
	animation: shake 0.1s;
}

dialog {
	background-color: #20252b;
	border: 0;
	border-radius: 2px;
	padding: 0.5rem;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	outline: none;
	text-align: center;
	max-width: 50%;
	max-height: 100vh;
	text-shadow: 6px 6px 5px black;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.6);
}

#modalText {
	text-align: center;
	text-shadow: 6px 2px 6px black;
}

#modalCloseButton {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.5rem;
	text-shadow: #000 0 0 5px;
	font-size: 1.5rem;
}

#modalCloseButton:hover {
	cursor: pointer;
	color: #ff0000;
	animation: shake 0.2s;
}

#github {
	font-size: 3rem;
}

#github:hover {
	cursor: pointer;
	color: gray;
	animation: shake 0.2s;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(42, 42, 42);
	opacity: 1;
	/* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgb(42, 42, 42);
}

.container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#title {
	font-family: "Intro Rust";
	color: white;
	-webkit-text-stroke: 2px #000;
	text-shadow: 6px 12px 5px black;
	text-align: center;
	font-size: 5rem;
	margin-top: auto;
	text-transform: uppercase;
	margin-bottom: -0.5rem;
	cursor: pointer;
}

#title:hover {
	animation: shake 0.15s;
}

.peepoThink {
	display: block;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	filter: drop-shadow(6px 6px 5px black);
}

.gaming {
	display: block;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	filter: drop-shadow(6px 6px 5px black);
}

#subtitle {
	font-weight: 600;
	text-shadow: 6px 6px 5px black;
	font-size: 0.9rem;
	margin-top: auto;
	margin-bottom: 1rem;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	filter: drop-shadow(6px 6px 5px black);
}

#subtitle2 {
	display: none;
	font-weight: 600;
	text-shadow: 6px 6px 5px black;
	font-size: 1rem;
	text-transform: lowercase;
	color: rgb(189, 96, 255);
}

#channelInput {
	font-weight: 700;
	box-shadow: 0 0 0 2px #000000;
	width: 100%;
	border: 0;
	background-color: rgb(87, 87, 87);
	border-radius: 2px;
	padding: 0.5rem;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	text-shadow: 1px 3px 4px black;
	text-transform: uppercase;
	outline: none;
	cursor: auto;
	text-align: center;
	max-width: 300px;
	filter: drop-shadow(6px 6px 5px black);
}

#channelInput:focus {
	box-shadow: 0 0 0 1px #fff;
	filter: drop-shadow(6px 6px 5px black);
}

#channelInput::placeholder {
	text-shadow: none;
	color: #bcbcbc;
}

#invalidChannel {
	font-weight: 600;
	color: #ff0000;
}

#loading {
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#loadingText {
	font-weight: 600;
}

#emoteTryContainer {
	position: relative;
	display: none;
	padding-top: -0.5rem;
	padding-bottom: 0.5rem;
}

#emoteTry {
	font-weight: 700;
	box-shadow: 0 0 0 2px #000000;
	width: 100%;
	border: 0;
	background-color: rgb(87, 87, 87);
	border-radius: 2px;
	padding: 0.5rem;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	text-shadow: 1px 3px 4px black;
	outline: none;
	cursor: auto;
	text-align: center;
	max-width: 300px;
	filter: drop-shadow(6px 6px 5px black);
}

.autocomplete-emotes {
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
	left: 0;
	width: 100%;
	color: #fff;
	background-color: rgb(32, 42, 49);
	font-size: 1rem;
	max-height: 100px;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
}

.autocomplete-emotes li {
	padding: 8px;
	font-weight: 600;
}

.autocomplete-emotes li:hover {
	cursor: pointer;
	background-color: #245992;
}

.autocomplete-emotes li:focus {
	background-color: #245992;
}

#emoteTry:focus {
	box-shadow: 0 0 0 1px #fff;
}

#emoteTry::placeholder {
	text-shadow: none;
	color: #bcbcbc;
}

#blur {
	font-size: 40px;
	color: transparent;
	text-shadow: 0 0 8px #000;
}

#app {
	display: grid;
	margin-top: 3rem;
	margin-bottom: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	grid-gap: 1.5rem;
	justify-content: center;
	align-items: center;
}

.card {
	margin-top: -2rem;
	width: auto;
	height: auto;
	background: rgb(29, 29, 29);
	color: #398ce4;
	padding: 1rem;
	border-radius: 10px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	text-align: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	position: relative;
	cursor: unset;
}

.card--image {
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;
	filter: blur(15px);
	-webkit-filter: blur(15px);
}

.card--image2 {
	width: auto;
	display: block;
	margin: auto;
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

.card--image3 {
	width: auto;
	display: block;
	margin: auto;
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

.card--image4 {
	width: auto;
	display: block;
	margin: auto;
}

input[type="text"] {
	background-color: #f1f1f1;
}

input[type="submit"] {
	background-color: DodgerBlue;
	color: #fff;
}

#score {
	margin-top: 1rem;
	align-items: center;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}

#tentativas {
	color: rgb(191, 2, 2);
}

#vidas {
	display: none;
	align-items: center;
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	filter: drop-shadow(6px 6px 5px black);
}

#vida1 {
	color: red;
}

#vida2 {
	color: red;
}

#vida3 {
	color: red;
}

#vida4 {
	color: red;
}

#acertos {
	font-family: "Intro Rust";
	font-size: 2.5rem;
	margin-top: -1rem;
	color: rgb(1, 182, 1);
	text-shadow: 6px 6px 5px black;
}

#recorde {
	padding: 8px;
	align-items: center;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-shadow: 6px 6px 5px black;
	font-family: "Intro Rust";
	-webkit-text-stroke: 1px #000;
	cursor: default;
}

#medalhas{
	overflow-y: auto;
}

#medalha {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

#medalhaImg{
	width: 48px;
	height: 48px;
}

#nomeMedalha{
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: 6px 6px 5px black;
	font-family: "Intro Rust";
	-webkit-text-stroke: 1.2px #000;
}

#nomeMedalha:hover{
	cursor: pointer;
	color: #7b39e4;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 1rem;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 10px;
	cursor: default;
}

#socials-icons {
	margin-top: 1rem;
	margin-bottom: -1.5rem;
	align-items: center;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	cursor: default;
}

#socials-icons img:hover {
	transform: scale(1.1);
	transition: 0.1s;
}

#socials-icons img {
	margin: 0 1rem;
}

#nome-autor {
	margin-top: 1rem;
	align-items: center;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: 6px 6px 5px black;
	font-family: "Intro Rust";
	-webkit-text-stroke: 1px #000;
	margin-left: auto;
	margin-right: auto;
}

#autor {
	font-size: 2rem;
	text-transform: uppercase;
	text-shadow: 6px 6px 5px black;
	font-family: "Intro Rust";
	-webkit-text-stroke: 1px #000;
}

#autor:hover {
	color: #398ce4;
}

.fa-github {
	padding: 20px;
	font-size: 20px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	color: white;
}

.fa-question-circle {
	padding: 20px;
	font-size: 2.5rem;
	font-weight: 700;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	color: white
}

.fa-github:hover {
	color: black;
}